{% extends 'admin/admin.html' %}
{% block content %}
    <section class="content-header">
        <h1>萤火虫：发现线索微光</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 全文检索</a></li>
            <li class="active">全文检索</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">全文检索</h3>
                    </div>
                    <form role="form" method="POST" action="{{ url_for("admin.search") }}">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="input_name">全文检索</label>
                                <input type="text" class="form-control" id="input_name" placeholder="请输入检索内容！"
                                       name="input">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">开始检索</button>
                            <input id="csrf_token" name="csrf_token" type="hidden"
                                   value="ImJiMjM1NDIyODk2ZjMzZDk3ZWQ4ZWJiOGMwNjQ4MTc0YzkxMjI5ZmYi.Di8-CQ.UKu8hMVGy4oUQSbC4aK4e81pUL4">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}

    <script>
        $(document).ready(function () {
            $('#g-2').addClass('active')
            $('#g-2-1').addClass('active')
        });

    </script>
{% endblock %}